* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  background-color: grey;
  background-image: linear-gradient(to right, #252525, #bababa);
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
