.timerContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.soundContainer {
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.controlSound {
  opacity: 0;
  width: 0;
}

.soundAux {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.controlSound + .soundAux {
  background-image: url(../assets/mute.png);
  background-size: contain;
}

.controlSound:checked + .soundAux {
  background-image: url(../assets/volume.png);
  background-size: contain;
}

.timerTitle {
  color: white;
  font-size: 3em;
  margin-bottom: 30px;
  text-shadow: 0 0 20px black;
}

.timer {
  border-radius: 1em;
  background-color: black;
  color: white;
  font-size: 1.5em;
  height: 100px;
  text-align: center;
  width: 400px;
}

.inputContainer {
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 400px;
}

.setTimeContainer {
  margin-top: 10px;
  width: 100%;
}

.setTime {
  margin-top: 10px;
  text-align: center;
}

.none {
  display: none;
}
